/*-------------------------------------INDEX-------------------------------*/
/* line 2, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 8, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
html {
  scroll-behavior: smooth;
}

/* line 12, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
body {
  margin: 0;
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

/* line 18, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.body-obras {
  margin-top: 20%;
}

/* line 22, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
h1 {
  font-size: 30px;
}

/* line 23, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
h2 {
  font-size: 20px;
}

/* line 24, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
h3 {
  font-size: 25px;
}

/* line 25, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
ul {
  list-style: none;
}

/* line 26, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.color {
  color: #21d109;
}

/*-------------- INICIO DE HEADER-------------*/
/* line 29, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.container {
  max-width: 1400px;
  margin: auto;
}

/* line 34, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
header {
  top: 0;
  background-color: #e3e2e2;
}

/* line 39, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: #1b7b16;
  font-size: 2em;
  animation: scale-up-center 2s infinite alternate;
}

/* line 47, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
header .gnblack {
  color: black;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* line 66, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 71, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 5px;
  justify-content: space-evenly;
}

/* line 80, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* line 87, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
header a:hover {
  color: #39aa1a;
}

/* line 93, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
main img {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 8px 10px 15px 2px rgba(0, 0, 0, 0.42);
}

/* line 101, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.img-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px;
  max-width: 900px;
}

/* line 112, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.main-obras h2 {
  text-align: center;
  padding: 15px;
}

/* line 116, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.main-obras h3 {
  text-align: center;
  padding: 15px;
}

/* line 120, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.main-obras p {
  text-align: center;
  font-size: 15px;
  padding: 15px 15px;
  max-width: 780px;
  margin: auto;
  font-weight: bold;
}

/*-------------- INICIO DE MAIN-------------*/
/* line 133, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#carta-presentacion {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../../imagenes/imagenes-inicio/concesionaria.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 5px;
}

/* line 150, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#carta-presentacion {
  line-height: 50px;
}

/* line 153, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#carta-presentacion h1 {
  color: aliceblue;
}

/* line 156, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#carta-presentacion h3 {
  color: aliceblue;
  font-weight: normal;
}

/* line 160, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#carta-presentacion h4 {
  color: #39aa1a;
  font-weight: bold;
  font-size: 1.2em;
}

/*-------------- INICIO DE VISION EMPRESARIAL-------------*/
/* line 168, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#vision-empresa {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #d4d4d4;
}

/* line 176, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#vision-empresa .container {
  text-align: center;
  padding: 15px 12px;
}

/*-------------- INICIO DE PROYECTOS RECIENTES-------------*/
/* line 183, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#obras-rec {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
}

/* line 189, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#obras-rec
.container {
  padding: 100px 15px;
}

/* line 193, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#obras-rec h2 {
  margin-top: 0;
  font-size: 1.8em;
}

/* line 197, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#obras-rec h3 {
  font-size: 1.1em;
}

/* line 200, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#obras-rec p {
  display: none;
}

/* line 203, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#obras-rec .carta {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid black;
}

/* line 211, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../imagenes/imagenes-inicio/1.jpg);
}

/* line 218, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../imagenes/imagenes-inicio/2.png);
}

/* line 225, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../imagenes/imagenes-inicio/concesionaria.png);
}

/* line 233, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
button a {
  text-decoration: none;
  color: white;
}

/* line 237, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
button:hover {
  background-color: #26c015;
}

/* line 240, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.contenedor {
  width: 80%;
  margin: auto;
}

/* line 245, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px;
}

/* line 254, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.grid img {
  width: 100%;
  height: auto;
}

/*--------------CLIENTES-------------*/
/* line 259, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-contact {
  width: 360px;
  background: #819f83c2;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: #245f28;
  box-shadow: 7px 13px 37px #000;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* line 273, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-contact h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* line 277, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-contact p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

/* line 283, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-contact a {
  color: black;
  text-decoration: none;
}

/* line 287, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-contact a:hover {
  color: black;
  text-decoration: underline;
}

/*-------------- CEO-------------*/
/* line 295, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#final {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  padding-top: 0%;
  flex-direction: column;
  background-color: #d4d4d4;
}

/* line 305, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#final h4 {
  font-size: 25px;
}

/*-------------- HTML OBRAS-------------*/
/* line 310, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#desarrollo-inm {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../imagenes/imagenes-background/pres2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  color: white;
}

/* line 329, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#desarrollo-inm .container {
  display: flex;
  text-align: center;
  padding: 15px 12px;
  flex-direction: column;
  margin: 10px;
}

/* line 337, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
#desarrollo-inm .rubros {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  max-width: 400px;
  line-height: 20px;
}

/* line 346, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.galeria-proyect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 353, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.galeria-proyect h3 {
  text-align: center;
}

/* line 357, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.galeria-proyect p {
  text-align: center;
  margin: 10px;
}

/* line 362, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.galeria-proyect img {
  margin: 0;
  display: inline-block;
  padding: 15px;
  display: flex;
  align-items: center;
}

/* ------------HTML SOBRE NOSOTROS ----------*/
/* line 372, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.sobre-nos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  max-width: 780px;
}

/* line 381, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.sobre-nos h1 {
  margin-bottom: 20px;
}

/* line 384, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.sobre-nos p {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}

/* line 394, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.iframe-maps {
  margin: auto;
  display: flex;
  justify-content: center;
}

/*---------- HTML CONTACTO-------- */
/* line 401, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.registro-de-contacto {
  display: flex;
  justify-content: center center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
  max-width: 600px;
  margin: auto;
  line-height: 40px;
}

/* line 411, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.iframe-maps {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 390px;
}

/* line 420, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.info-local {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 20px;
}

/* line 426, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.datos-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*-------- ACCESO CLIENTES ----------- */
/* line 439, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-register {
  width: 360px;
  background: #819f83c2;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: #245f28;
  box-shadow: 7px 13px 37px #000;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* line 454, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

/* line 458, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

/* line 464, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-register a {
  color: black;
  text-decoration: none;
}

/* line 468, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.form-register a:hover {
  color: black;
  text-decoration: underline;
}

/* line 474, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.controls {
  width: 100%;
  background: #dcdcdc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: black;
}

/* line 486, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.registro {
  width: 100%;
  background: #066906;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/*-------------- FOOTER-------------*/
/* line 500, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
footer {
  background-color: #e6e6e6;
  height: auto;
}

/* line 504, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
footer .container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* line 509, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
footer p {
  margin: 0;
  padding: 12px;
  text-align: center;
  color: #646464;
}

/* line 515, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
.botonInicio {
  display: flex;
  justify-content: center;
  margin: 35px;
}

/* line 520, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #8fb391;
  color: white;
  text-decoration: none;
}

/*-------------- @media-queries-------------*/
@media (min-width: 720px) {
  /* line 536, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  body {
    margin-top: 7%;
  }
  /* line 539, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  header {
    position: fixed;
    width: 100%;
  }
  /* line 543, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 547, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  header nav {
    flex-direction: row;
    padding-right: 20px;
  }
  /* line 551, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #vision-empresa .container {
    display: flex;
    justify-content: space-evenly;
  }
  /* line 555, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #vision-empresa .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 564, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #vision-empresa h2 {
    margin-top: 0px;
  }
  /* line 568, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #vision-empresa .img-container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../imagenes/imagenes-inicio/vision1.jpeg);
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 350px;
    margin: 0;
  }
  /* line 579, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #final .img-container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../imagenes/imagenes-inicio/yo.jpeg);
    background-size: cover;
    background-position: center center;
    height: 200px;
    width: 180px;
    margin-top: 10px;
  }
  /* line 591, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #final .container {
    display: flex;
    justify-content: space-evenly;
  }
  /* line 595, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #final .ceo {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* line 604, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #obras-rec .proyectos {
    display: flex;
    justify-content: center;
  }
  /* line 609, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #obras-rec p {
    display: block;
    margin-bottom: 30px;
  }
  /* line 613, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #obras-rec .carta {
    padding: 50px;
  }
  /* line 616, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #obras-rec h3 {
    margin-top: 0px;
  }
  /* line 620, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  .galeria-proyect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 626, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #desarrollo-inm .rubros {
    height: 200px;
    justify-content: space-evenly;
    align-items: initial;
    max-width: 600px;
  }
  /* line 633, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  .iframe-maps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 300px;
    height: 370px;
  }
  /* line 642, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  #desarrollo-inm {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  /* line 648, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  .acceso-clients h1 {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  /* line 654, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  .sobre-nos {
    margin-top: 110px;
  }
}

@media (min-width: 980px) {
  /* line 659, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  .form-contact {
    margin-top: 120px;
  }
  /* line 662, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  .form-register {
    margin-top: 120px;
  }
}

@media (min-width: 720px) {
  /* line 667, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  .form-contact {
    margin-top: 150px;
  }
  /* line 670, ../PreEntrega1-MELA-Clases sincronicas/PreEntrega1-MELA/Estilos/scss/estilos.scss */
  .form-register {
    margin-top: 150px;
  }
}

/*# sourceMappingURL=estilos.css.map */