/*-------------------------------------INDEX-------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;
}
h1{font-size: 30px;}
h2{font-size: 20px;}
h3{font-size: 25px;}
ul{ list-style: none;}
.color{ color: orange;}

/*-------------- INICIO DE HEADER-------------*/
.container{
    max-width: 1400px;
    margin:auto;
}

header{
    background-color: rgb(227, 226, 226);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(206, 137, 8); 
    font-size: 2em; 
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 5px;
    justify-content: space-evenly;
    
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}

header a:hover{
    color: orange;
}
/*-------------- INICIO DE MAIN-------------*/

#carta-presentacion{
    display: flex;  
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.5)
     ), url(../Imagenes/imagenes-inicio/concesionaria.png);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     margin: 10px 5px;
}
#carta-presentacion h1{
    color: aliceblue;
}
#carta-presentacion h3{
    color: aliceblue;
    font-weight: normal;
}
#carta-presentacion h4{
    color: orange;
    font-weight: bold;
    font-size: 1.2em;
}

/*-------------- INICIO DE VISION EMPRESARIAL-------------*/

#vision-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(212, 212, 212);
}
#vision-empresa .container{
    text-align: center;
    padding: 15px 12px;
}

/*-------------- INICIO DE PROYECTOS RECIENTES-------------*/
#obras-rec{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;

}
#obras-rec .container{
    padding: 100px 15px;
}
#obras-rec h2{
    margin-top: 0;
    font-size: 1.8em;
}
#obras-rec h3{
    font-size: 1.1em;
}
#obras-rec p{
    display: none;
}
#obras-rec .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid black;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.3)
     ),url(/PreEntrega1-MELA/Imagenes/imagenes-inicio/1.jpg);
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.3)
     ),url(/PreEntrega1-MELA/Imagenes/imagenes-inicio/2.png);
}
.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.3)
     ), url(/PreEntrega1-MELA/Imagenes/imagenes-inicio/concesionaria.png);
}


/*-------------- @media-queries-------------*/
@media (min-width: 480px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-right: 20px;
    }
    #vision-empresa .container{
        display: flex;
        justify-content: space-evenly;
    }
    #vision-empresa .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #vision-empresa h2{
        margin-top: 0px;

    }
    #vision-empresa .img-container{
        background-image: linear-gradient(
            0deg, 
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)), url(/PreEntrega1-MELA/Imagenes/imagenes-inicio/vision1.jpeg);
            background-size: cover;
            background-position: center center;
            height: 350px;
            width:  350px;
            margin: 0;
    }
    #final .img-container{
        background-image: linear-gradient(
            0deg, 
            rgba(0,0,0,0.1),
            rgba(0,0,0,0.1)), url(/PreEntrega1-MELA/Imagenes/imagenes-inicio/WhatsApp\ Image\ 2022-12-05\ at\ 13.16.06.jpeg);
            background-size: cover;
            background-position: center center;
            height: 200px;
            width:  180px;
            margin: auto;

    }
    #final .container{
        display: flex;
        justify-content: space-evenly;
    }
    #final .ceo{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #obras-rec .proyectos{
        display: flex;
        justify-content: center;

    }
    #obras-rec p{
        display: block;
        margin-bottom: 30px;
    }
    #obras-rec .carta{
        padding: 50px;
    }
    #obras-rec h3{
        margin-top: 0px;
    }



}

/*--------------CLIENTES-------------*/
.contenedor{
    width: 80%;
    margin: auto;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.grid img{
    width: 100%;
    height: auto;
}
    
/*-------------- CEO-------------*/

#final .container{
    
    
}
#final{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(212, 212, 212);
}
#final h4{
    font-size: 25px;
}

/*-------------- html OBRAS-------------*/



/*-------------- FOOTER-------------*/

footer{
    background-color: rgb(230, 230, 230);
    height: auto;
}
footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }
 footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
 }
